/* 
Polices utilisées :
font-family: 'Inknut Antiqua', serif;
font-family: 'Roboto Serif', serif; 
*/

/* Style général */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: #000;
    font-family: 'Roboto Serif', serif;
}

/* Style général des boutons et éléments de déco */

button {
    font-family: 'Inknut Antiqua', serif;
    cursor: pointer;
}

button:hover {
    background: #D9984A;
    border: 2px solid #797803;
}

.hr-block {
    color: #D9984A;
    width: 40%;
    margin: auto;
}

.block {
    background: #fff;
    border-radius: 10px;
}

.card {
    border: none;
    box-shadow: 4px 4px 4px #bababa;
}

.block-card {
    border: 1px solid #D9984A;
}

.card-title {
    font-family: 'Inknut Antiqua', serif;
    font-size: 25px;
    font-weight: 600;
}

.subtitle-card {
    font-family: 'Roboto Serif', serif;
    font-size: 16px;
}

/* Adaptation des titres des cards à un plus petit media (type smartphone) */

@media (max-width: 900px) {
    .card-title {
        font-size: 18px;
    }
}

/* Style de la barre de navigation */

nav {
    font-family: 'Inknut Antiqua', serif;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px 25px;
    background: rgba(140, 43, 34, 0.8);
    box-shadow: inset 0px -1px 0px #000;
}

.nav-icon {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 20px;
}

.nav-icon span {
    font-size: 25px;
    margin-left: 10px;
    font-weight: 400;
    color: #000;
}

.logo {
    width: 60px;
} 

.logo:hover {
    width: 70px;
}

.hamburger {
    display: none;
}

.navlinks-container a {
    margin: 0 10px;
    padding: 1rem 20px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    transition-property: font-weight;
    color: #000;
    display: inline-block;
    position: relative;
}

.navlinks-container a:hover {
    font-weight:bold;
    text-decoration: underline #D9984A;
}

.navlinks-container .actif {
    background: #D9984A;
    font-weight: bold;
}

.nav-btns {
    margin-left: auto;
}

.btns button {
    margin: 0 5px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px black;
}

button img {
    width: 15px;
    margin: 5px;
}

.btn-reservation {
    font-size: 14px;
    border: 2px solid #D9984A;
    background: #8C2B22;
    padding: 5px 15px;
}

.btn-connection {
    font-size: 12px;
    border: 1px solid #797803;
    background: #8C715A;
    padding: 5px 5px;
}

.icon-reservation {
    display: none;
}

.icon-connection {
    display: none;
}

/* Adaptation de la barre de navigation à un plus petit media (type smartphone) */

@media (max-width: 1000px) {
    nav {
        padding: 15px 20px;
        position: relative;
    }

    .nav-icon {
        order: 2;
        margin: 0 auto;
    }

    .nav-icon span {
        font-size: 22px;
    }

    .main-navlinks {
        order: 1;
    }

    /* Menu hamburger */
    .hamburger {
        width: 20px;
        height: 20px;
        cursor: pointer;
        border: none;
        display: flex;
        background: rgba(140, 43, 34, 0.8);
        align-items: center;
        position: relative;
    }

    .hamburger span {
        display: block;
        width: 100%;
        height: 2px;
        background: #000;
        position: absolute;
        pointer-events: none;
        transition: opacity 0.3s 0.15s ease-out;
    }

    .hamburger span:nth-child(1), .hamburger span:nth-child(3) {
        transition: transform 0.3s ease-out;
    }

    .hamburger span:nth-child(1) {
        transform: translateY(7px);
    }

    .hamburger span:nth-child(3) {
        transform: translateY(-7px);
    }
    .hamburger.open span:nth-child(1) {
        transform: translate(0) rotate(135deg);
    }
    .hamburger.open span:nth-child(2) {
        opacity: 0;
        transition: opacity 0s ease-out;
    }
    .hamburger.open span:nth-child(3) {
        transform: translate(0) rotate(-135deg);
    }

    .navlinks-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        background: rgba(140, 43, 34, 0.8);
        top: 100%;
        left: 0;
        height: 100vh;
        padding: 15px 50px 15px 20px;
        border-right: 1px solid #000;
        transform: translate(-100%);
    }

    .open {
        transform: translate(0%);
    }

    .navlinks-container a {
        font-size: 14px;
        margin: 10px 0;
    }

    .nav-btns {
        order: 3;
        margin-left: 0;
    }

    .btns {
        display: none;
    }

    .icon-connection, .icon-reservation {
        display: inline;
        cursor: pointer;
        margin: 5px;
        border-radius: 15px;
    }

    .icon-reservation {
        border: 2px solid #D9984A;
        padding: 0 5px 5px 10px;
    }

    .icon-connection {
        border: none;
        padding: 0 10px 5px 10px;
    }

    .icon-reservation img {
        width: 15px;
    }

    .icon-connection img {
        width: 20px;
    }
}

/* Style du header */

header {
    font-family: 'Inknut Antiqua', serif;
}

.title {
    font-weight: bold;
    font-size: 60px;
}

.subtitle {
    font-size: 40px;
}

@media (max-width: 900px) {
    .title {
        font-size: 30px;
    }

    .subtitle {
        font-size: 22px;
    }
}

/* Style du paragraphe de bienvenue (page accueil) */

.presentation {
    background: #fff;
}

.title-presentation {
    font-size: 25px;
}

.presentation p {
    font-size: 16px;
}

.presentation a {
    text-decoration: none;
}

.btn-apropos {
    font-size: 14px;
    background: #8C715A;
    border: 1px solid #797803;
    margin: 0 5px;
    padding: 5px 5px;
    border-radius: 20px;
    box-shadow: 4px 4px 4px #bababa;
}

/* Adaptation de la présentation à un plus petit media (type smartphone) */

@media (max-width: 900px) {
    .presentation p {
        font-size: 12px;
    }
}

/* Style de la galerie de photos (page accueil) */

.card-img {
    height: 180px;
}

.title-img {
    font-weight: 400;
    color: #000;
    position: absolute;
    padding: 25px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(217, 152, 74, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0;
    transform: scale(0);
    transition: all 0.3s ease;
}
.card:hover .title-img {
    opacity: 1;
    transform: scale(1);
}

.btn-reservation2 {
    font-size: 14px;
    border: 2px solid #D9984A;
    background: #8C2B22;
    margin: 0 5px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px #bababa;
}

/* Style du gros titre de chaque page (hors page accueil) */

.block-title-page {
    font-family: 'Inknut Antiqua', serif;
    background: #fff;
}

.title-page {
    font-size: 45px;
    font-weight: bold;
}

/* Adaptation de ce gros titre de chaque page à un plus petit media (type smartphone) */

@media (max-width: 900px) {
    .title-page {
        font-size: 25px;
    }
}

/* Style de la page menus */

.title-menus, .title-carte {
    font-family: 'Roboto Serif', serif;
    font-size: 16px;
    font-weight: 600;
    text-decoration: underline;
}

.btn-carte, .btn-menus {
    background: #8C715A;
    font-size: 14px;
    border: 1px solid #797803;
    margin: 0 5px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px #707070;
}

/* Style de la page carte */

ul {
    list-style: square;
    list-style-position: inside;
}

/* Adaptation de la page carte et menus à un plus petit media (type smartphone) */

@media (max-width: 900px) {
    .block-card {
        font-size: 12px;
    }
}

/* Style de la page à propos */

.photo-apropos {
    width: 220px;
    border: none;
    border-radius: 10px;
    box-shadow: 4px 4px 4px #bababa;
    transition: transform .1s;
}

.photo-apropos:hover{
    transform: scale(1.5);
    }

.text-apropos {
    font-size: 16px;
}

@media (max-width: 900px) {
    .text-apropos {
        font-size: 12px;
    }
}

/* Style page de connexion */

.btn-statut {
    box-shadow: 4px 4px 4px #bababa;
}

.help-text {
    font-size: 12px;
    font-style: italic;
}

.btn-confirm, .btn-delete {
    margin: 0 5px;
    border-radius: 10px;
    border: 1px solid #797803;
    box-shadow: 4px 4px 4px #bababa;
}

.btn-confirm {
    font-size: 14px;
    background: #8C2B22;
    padding: 10px 15px;
}

.btn-delete {
    font-size: 12px;
    background: #8C715A;
    padding: 5px 5px;
}

.text-end {
    font-size: 12px;
    font-style: italic;
}

/* Style de la page de réservation */

.detail {
    color: #707070;
    font-size: 14px;
    font-style: italic;
}

#number, #date {
    border-radius: 5px;
}

#number {
    width: 3em;
    padding: 2px;
}

/* Style du footer */

footer {
    color: #fff;
    font-weight: 500;
}

footer hr {
    color: #D9984A;
    width: 10%;
    margin: auto;
}

#footer-top {
    background: rgba(140, 43, 34, 0.8);
}

footer a {
    text-decoration: none;
}

#footer-bottom {
    background: #8C2B22;
    font-size: 14px;
}

.copy {
    background: #8C2B22;
    color: #000;
    font-size: 12px;
}

.hours-mobile {
    display: none;
}

.contact-mobile {
    display: none;
}

.icon-contact {
    width: 20px;
}

.icon-networks {
    width: 30px;
}

/* Adaptation du footer à un plus petit media (type smartphone) */

@media (max-width: 992px) {
    .hours-mobile {
        display: block;
    }

    .hours {
        display: none;
    }

    .contact-mobile {
        display: block;
    }

    .contact {
        display: none;
    }
}